
/* 로그인 */
.signin-body{
width:600px;
margin-top:5%;
}

.signin-body > .form-group > .signin-text{
	width: 60%; 
	height:48px; 
	margin: 0 auto;
}
.signin-body > .signin-location-btn {
display:flex;
justify-content: center;
 gap: 2em;
 margin-top:10%;
 margin-bottom:5%;
}

.signin-body > .signin-location-btn > .siginin-findusername-btn:hover {
text-decoration: underline;
cursor : pointer;
font-weight:bold;
}

.signin-body > .signin-location-btn > .siginin-findpassword-btn:hover {
text-decoration: underline;
cursor : pointer;
font-weight:bold;
}

.signin-body > button {
width:60%;
height:auto;
margin-left:20%;
margin-top:5%;
background-color: #F37021;
border: 1px solid transparent;
color: white;
border-radius: 5px;
}

/* 회원가입 */
.register-body{
width:800px;
margin-top:5%;
}

.register-body > .register-textButton > label   {
margin-right: 5%;
}
 .label-fixed-width {
        width: 80px; /* 라벨의 고정 너비 설정 */
        display: inline-block;
    }

 .register-textButton {
        display: flex;
        margin-left: 15%;
  
    }

    .register-textField {
        flex: 1;
        margin-right: 10px;
        max-width: 50%;
        height: 50px;
        border: 1px solid lightgrey;
        border-radius: 10px;
    }

    .register-button {
        margin: 0;
    }
    
.register-space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.register-body> .register-textButton> .register-button {
float:right;
height: 40px;
background-color: lightgray;
border: 1px solid transparent;
border-radius: 10px;
color: black;
}

.register-body> .register-textButton> .register-button:hover{
filter: brightness(0.8);
}

#register-final{
text-align: center;
}

#register-final-button{
width:45%;
display :inline-block;
height: 60px;
margin-bottom: 10%;
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;
color: white;
border-radius: 10px;
}

#register-final-button:hover{
filter: brightness(0.8);
}
  .register-textButton {
        display: flex;
        align-items: center;
    }

    .register-textField {
        flex: 1;
        margin-right: 10px;
    }

    .register-button {
        margin: 0;
    }

/* 아이디찾기 */
.find-username-body{
width:600px;
margin-top:20%;
}

.find-username-body > input[type='text'] {
  width:100%;
}
.find-username-body > button {
width:60%;
height:50px;
margin-top:10%;
margin-bottom: 40%;
margin-left:20%;
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;
color: white;
}
.find-username-body > button:hover{
	filter: brightness(1.5);
}


.find-password-body{
width:600px;
margin-top:10%;
}

/* 비밀번호 찾기 */
.find-password-body> .form-group > button {
float:right;
margin-bottom:20%;
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;
color: white;
}
.find-password-body> .form-group > button:hover{
	filter: brightness(1.5);
}

.find-password-space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.find-password-body> .form-group  > .find-passord-btn{
float:right;
margin-bottom:20%;
}
.find-password-body> .form-group  > .find-passord-btn > #verifyCodeButton{
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;	
color: white;
}
.find-password-body> .form-group  > .find-passord-btn > #verifyCodeButton:hover{
	filter: brightness(1.5);
}

.find-password-body> .form-group  > .find-passord-btn > #reset-password-button{
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;	
color: white;
}
.find-password-body> .form-group  > .find-passord-btn > #reset-password-button:hover{
	filter: brightness(1.5);
}

/* 사용자 정보 수정*/
.userUpdate-body{
width:600px;
}

.userUpdate-body > label {
margin-top: 7%;
}

.userUpdate-body > .form-inline input[type='text'],.userUpdate-body > .form-inline input[type='password'] {
  width:100%;
}

.userUpdate-body > button {
width:60%;
height:60px;
margin-left:20%;
margin-top: 5%;
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;	
color: white;
}

.userUpdate-body > .email-password-btn {
float:right;
background-color: #F37021;
border: 1px solid transparent;
cursor:pointer;	
color: white;
}

.userUpdate-body > .email-password-btn {
float:right;
}
.userUpdate-body > .email-password-btn > .updateEmailButton


.userUpdate-body > #verificationCodeSection > label {
margin-top: 7%;
}

.userUpdate-body > #verificationCodeSection > .form-inline input[type='text'] {
  width:100%;
}

#registrationForm .user-btn {
		float:right;
		height: 40px;
		background-color: #F37021;
		border: 1px solid transparent;
		border-radius: 5px;
		color:white;
	}

#registrationForm .user-btn:hover {
	filter: brightness(1.5);
	}


.userUpdate-body > #verificationCodeSection >  .email-password-btn {
float:right;
}

#user-delete-location-btn{
margin-left:42%;
}

#user-delete-location-btn:hover{
text-decoration: underline;
cursor : pointer;
font-weight:bold;
}

/* 회원 탈퇴 */
.delete-user-body{
width:600px;
margin-top:10%;
}

.delete-user-body > #delete-user-btn{
float:right;
margin-bottom:20%;
background-color: #F37021;
border: 1px solid transparent;
border-radius: 5px;
color:white;
}

.delete-user-body > #delete-user-btn:hover{
	filter: brightness(1.5);
}
/* 광고 상세보기 */
   h3 {
        text-align: center;
        margin: 20px 0;
    }

    .promotionDetail-page {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 0 auto;
        width: 70%;
    	font-size: larger;

    }

    .promotionDetail-label {
        font-weight: bold;
        font-size: xx-large;

    }

    .promotionDetail-image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 300px;
    }

    .promotionDetail-image-wrapper img {
        max-width: 400px;
        margin-bottom: 50px;
    }

    .promotionDetail-form-control {
        width: 100%;
        margin: 5px 0;
        border: none; /* Remove the border */
        padding: 5px; /* Add padding for a bit of spacing */
        background-color: transparent; /* Remove background color */
        margin-bottom: 2rem;
        font-size: x-large;
         
    }
    .promotion-content{
		text-align: start;
		font-size:large;
	}
    #img-box {
		width:100%;
		height:400px;
		object-fit: cover;
		filter: brightness(0.75);
	}
	#up-img {
		width:100%;
		height:100%;
	    object-fit: cover;
	}
	.detail-promotion-img-text{
		position: relative;
				 
	}
	.detail-promotion-uptext{
		position: absolute;
		top: 40%;
		left: 44%;
		font-size: xxx-large;
		
	}

