.container {
	margin-top: 50px;
	font-family: 'NanumSquareRound';
}


.map {
	display: block;
	margin: 40px auto;
}


.btn-orange {
	width: 90px;
	height: 40px;
	background-color: #f37021;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;

}

.btn-orange:hover {
	background-color: white;
	color: #f37021;
	border: solid 2px #f37021;
	cursor: pointer;
}

.thumbnail {
	width: 180px;
	height: 140px;
	margin: auto;
}

.item-btn {
	margin: 0 5px;
	cursor: pointer;
}

.circle {

	width: 25px;
	height: 25px;
	background-color: #f37021;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}


.list-card {
	width: 90%;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
	position: relative;
	
}

.list-card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#list-output {
	width: 100%;
	margin-top: 40px;
}


.distance {
	position: absolute;
	width: 65px;
	height: 25px;
	top: -22px;
	left: -55px;
	background-color: #f37021;
	border-radius: 10%;
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}

.distance a {
	color: #fff;
	text-decoration: none;
}

.notice {
	background-color: rgb(192, 192, 192);
	margin: 30px 0;
}



.card-body p {
	word-wrap: break-word;
	white-space: pre-wrap;
}


#calendar {
	margin-right: 20px;
	cursor: pointer;
}