

.container {
	margin-top: 50px;
	font-family: 'NanumSquareRound';
}

.map {
	display: block;
	margin: 0 auto;
}

.card-body {
	white-space: nowrap;
	overflow: hidden;
}

.tag {
	font-size: 16px;
	color: #767676;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-orange {
	width: 90px;
	height: 40px;
	background-color: #f37021;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;

}

.btn-orange:hover {
	background-color: white;
	color: #f37021;
	border: solid 2px #f37021;
	cursor: pointer;
}

.thumbnail {
	width: 180px;
	height: 140px;
	margin: auto;
}

.nav-link {
	cursor: pointer;
}


.label-tabs{
	margin-top: 30px;
	height: 45px;
}


.nav-item {
	margin-right: 10px;
	border-bottom: 1px solid #767676;
	border-width: 10%;
}

.nav-item:hover {
	margin-right: 10px;
	border-bottom: 2px solid #f37021;
	border-width: 15%;
}

.nav-item.active {
	margin-right: 10px;
	border-bottom: 3px solid #f37021;
	border-width: 18%;
	
}

.nav-link{
	color: #292929;
}




.circle {

	width: 25px;
	height: 25px;
	background-color: #f37021;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}

#tab-output {
	margin-top: 40px;
	margin-bottom: 40px;
}

.search-container {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

#search-input {
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

#search-select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 10px;
}

#search-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	margin-left: 10px;
}

#search-button:hover {
	background-color: #0056b3;
}

.list-card {
	width: 90%;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
	position: relative;
	cursor: grab;
	/* 자식 요소 위치 설정을 위해 부모 요소를 relative로 설정 */
}

.list-card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#list-output {
	width: 100%;
	margin-top: 40px;
}

.pagination{
	justify-content: center;
	margin-top: 30px;
}


.page-link {
	cursor: pointer;
	color: #292929;
}

.page-prev, .page-next{
	font-weight: bold;
}

.page-item.active .page-link{
	background-color: #292929;
}

.distance {
	position: absolute;
	width: 65px;
	height: 25px;
	top: -22px;
	left: -50px;
	background-color: #f37021;
	border-radius: 10%;
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}

.distance a {
	color: #fff;
	text-decoration: none;
}

.notice {
	background-color: rgb(192, 192, 192);
	margin: 30px 0;
}

.item-btn {
	margin: 0 5px;
	cursor: pointer;
}

/* 모달 스타일 */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fff;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 80%;
	max-width: 500px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.list-item-region {
	color: grey;
	font-size: 13px;
	margin-top: -10px;
}

#calendar {
	margin-right: 20px;
	cursor: pointer;
}