	body { 
	 font-family: 'Noto Sans KR', sans-serif;
	}
	#contentsLabel {
		font-size: 40px;
		font-weight: bold;
		text-align: center;
		margin: 20px;
	}
	#container {
		width: 1000px;
		height:100%;
		margin: 0 auto;
		padding-left: 30px;

	}
	#container div {
		display: inline-block;
	}
	#img-box {
		float:left;
		width:200px;
		height:200px;
		overflow:hidden;
	}
	#img {
		width:100%;
		height:100%;
	    object-fit: cover;
	}
	#content-box {
		margin-left:15px;
		margin-bottom:50px;
		float:left;
		width:270px;
		height:200px;
	
	}
	#title {
		width:220px;
		font-size: 20px;
		font-weight: bold;
		color: #292929;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#location {
		width:220px;
		font-size: 15px;
		margin-top: 5px;
	}
	#tag {
		width:220px;
		height: 40px;
		font-size: 13px;
		color:grey;
		margin-top: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
	}
	.icon{
		width:20px;
		margin-right:5px;

	}
	#icon{
		margin-top: 10px;
		font-size: 13px;
		font-weight: 500;
	}
	#btn {
		width: 220px;
		height: 35px;
		background-color: white;
		color: #f37021;
	    border: solid 1.5px #f37021;
		border-radius: 3px;
		margin-top: 15px;
		font-size: 13px;
		font-weight: bold;
		
	}
	#btn:hover {
	    background-color: #f37021;
	    color: white;
	    border: solid 1px #f37021;
	    cursor: pointer;
	}
	.paging {
		width: 1000px;
		text-align: center;
	}
	
	.pagination{
	justify-content: center;
	margin-bottom: 50px;
	}
	
	.page-link {
		cursor: pointer;
		color: #292929;
	}
	
	.page-prev, .page-next{
		font-weight: bold;
	}
	
	.page-item.active .page-link{
		background-color: #f37021;
		border: solid 1px #f37021;
	}